@using eInvoicePdf.Console;
@model IEnumerable<InvoiceViewModel>


    @foreach (var item in Model.ToList())
    {
        <tr>
            <td>item.Supplier.Name</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }

