@using eInvoicePdf;
@model IEnumerable<InvoiceViewModel>

<div class="modal-body">

    @using (Html.BeginForm("_ViewModal", "Home", FormMethod.Post))
    {
        <div class="container modal-bg">
            <div class="row">
                <h2 style="">Δημιουργία Παραστατικού</h2>
            </div>
            <form id="target">
                <div class="row blue">
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Αριθμός Παραστατικού: </label>
                        <input type="text" class="form-control" id="aa" placeholder="Α/Α">
                    </div>
                    <div class="form-group col-md-4 input-group-sm">
                        <label for="exampleInputEmail1">Ημερομηνία έκδοσης:</label>
                        <input class="datepicker" data-date-format="dd/mm/yyyy">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Αιτιολογία: </label>
                        <input type="text" class="form-control" id="aitiologia" placeholder="">
                    </div>
                </div>
                <div class="row blue">
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Κωδικός: </label>
                        <input type="password" class="form-control" id="password" placeholder="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Επωνυμία: </label>
                        <input type="text" class="form-control" id="name" placeholder="">
                    </div>
                </div>
                <div class="row blue">
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Α.Φ.Μ. :</label>
                        <input type="number" class="form-control" id="afm" placeholder="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Δ.Ο.Υ.: </label>
                        <input type="password" class="form-control" id="dou" placeholder="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Διεύθυνση: </label>
                        <input type="email" class="form-control" id="address" placeholder="">
                    </div>
                </div>
                <div class="row blue">
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Πόλη: </label>
                        <input type="password" class="form-control" id="city" placeholder="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Είδος: </label>
                        <select id="kind">
                            <option></option>
                            <option value="1">1</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="exampleInputEmail1">Τ.Κ.: </label>
                        <input type="number" class="form-control" id="tk" placeholder="">
                    </div>
                </div>
                <div class="row blue">
                    <div class="form-group col-md-4">
                        <label for="exampleInputPassword1">Επάγγελμα: </label>
                        <input type="text" class="form-control" id="job" placeholder="">
                    </div>
                </div>
                <div class="row blue">
                    <button class="addItem btn btn-info">+</button>
                    <label for="exampleInputEmail1">Λίστα με είδη: </label>
                    <table id="itemsTable">
                        <thead>
                        <th>CPV</th>
                        <th>Περιγραφή</th>
                        <th>ΜΜ</th>
                        <th>Αξία</th>
                        <th>Ποσότητα</th>
                        <th>Έκπτωση</th>
                        <th>ΦΠΑ</th>
                        <th>Συνολική Αξία</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <br/>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Άκυρο</button>
                        <button type="button" id="approve-btn" class="btn btn-danger btn-lg">Αποθήκευση</button>
                    </div>
                </div>
            </form>
        </div>
    }
</div>

<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
        $('.datepicker').datepicker();
        $('#kind').select2();
        $('.addItem').on('click', function (e) {
            e.preventDefault();
            $('#itemsTable tbody').append(
                '<tr><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="text"/></td></tr>');
        });
    });

</script>
@*8a ginetai store i forma*@
<script type="text/javascript">
    $("#approve-btn").click(function()  {


        var items = [];
        $('#itemsTable tbody tr').each(function () {
            $(this).find('td').each(function() {
                console.log($(this).find('input').val());
            });
        });


        var myObj = {
            "AA": $("#aa").val(),
            "Aitiologia": $("#aitiologia").val(),
            "Password": $("#password").val(),
            "Name": $("#name").val(),
            "Afm": $("#afm").val(),
            "Doy": $("#dou").val()
            "Address": $("#address").val(),
            "City": $("#city").val(),
            "Kind": $("#kind").val()
            "Tk": $("#tk").val(),
            "Job": $("#job").val(),
            "cpvs": $("#job").val()
        }

        var myJSON = JSON.stringify(myObj);

     
        $.ajax({
            url: '/Home/CreatePdf',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: myJSON,
            success: function (result) {
                $('#modal-container').modal('hide');
                
            },
            error: function (err) {
                console.log(err.responseText);
                //alert(err.responseText);
            }
        })
        //menei datepicker kai lista proiontwn
        event.preventDefault();
    });
</script>