@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        
        <img src="~/Content/logo_new.png" alt="" style="width: 150px; text-align: center;"/>
        @*<h1>e-InvoicePdf</h1>*@
    </div>
    <div class="row" style="padding-bottom: 20px;">
        <p class="lead">Η web εφαρμογή e-InvoicePDF ενσωματώνει μεταδεδομένα σε ηλεκτρονικά τιμολόγια σε PDF μορφή που περιγράφουν όλα τα στοιχεία του τιμολογίου, όπως Αριθμός Τιμολογίου, Στοιχεία Συναλλασσόμενου, CPV, Κόστος, κτλ. Τα μεταδεδομένα αποθηκεύονται υπό την μορφή του Standard UBL Universal Business Language. Στόχος της εφαρμογής είναι η αυτόματη καταχώρηση τιμολογίων που θα διευκολύνει σε μεγάλο βαθμό το τμήμα προμηθειών των Δήμων.</p>
    </div>
</div>
