@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        
        <img src="~/Content/logo_new.png" alt="" style="width: 150px; text-align: center;"/>
        @*<h1>e-InvoicePdf</h1>*@
    </div>
    <div class="row">
        <p class="lead">TextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextTextText</p>
    </div>
</div>
