
@using e_Invoice.Mvc.Models;
@model IEnumerable<Parastatiko>


@{
    ViewBag.Title = "UploadPdf";
}

<h2>Παραστατικά</h2>


    <div id="divPdfUploads">

    </div>



    <input type="file" name="fileUpload" value="fileUpload" id="fileUpload">
    <button id="btnUploadPdf" class="btn btn-primary" type="submit">Button</button>


    @section Scripts{
        <script>
            $(function () {
                $("#btnUploadPdf").on("click", function () {
                    var fileUpload = $("#fileUpload").get(0);
                    var files = fileUpload.files;

                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    // Adding one more key to FormData object
                    fileData.append('username', 'Manas');
                    console.log
                    $.ajax({
                        url: '/Home/_UploadPdf',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            $("#divPdfUploads").html(result);
                        },
                        error: function (err) {
                            alert(err.responseText);
                        }
                    })
                })
            });

        </script>
    }
